.App {
  margin: 0 auto;
  width: 750px;
}

.ant-row.ant-form-item {
  margin-bottom: 6px;
}

.search_grid {
  width: 650px;
  height: 650px;
  margin: 0 auto;
  position: relative;
}

.grid_item {
  position: relative;
  display: block;
  border: 1px solid #bbb;
  float: left;
  line-height:12px;
  font-size:10px;
}
.grid_item.wall {
  background-color: #9CA69D;
}
.grid_item.start {
  background-color: #ff7c7c;
}
.grid_item.end {
  background-color: #60acfc;
}
.grid_item.current_active {
  background-color: #feb64d;
}
.grid_item.path_active {
  background-color: #5bc49f;
}

.search_info {
  position: absolute;
}
.search_info.diagonal {
  transform: scale(0.6);
}
.search_info.f {
  top: 0;
  left: 0;
}
.search_info.g {
  bottom: 0;
  left: 0;
}
.search_info.h {
  bottom: 0;
  right: 0;
}

.search_info.point {
  top: calc(50% - 7px);
  left: calc(50% - 16px);
}